.kasutajad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(4px, 10px, 14px);
}

.kasutaja {
    background-color: rgb(236, 234, 234);
    color: black;
    padding: 8px;
    overflow: hidden; 
    border-radius: 10px;
}

.kasutaja p {
    font-size: 0.9em;
}