.flexXContainer { 
  display: flex;
  justify-content: center; 
  gap: 2rem;               
  padding: 2rem;
}

.maxLaenuSisend {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
  align-items: stretch;
}

.inputRow {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  gap: 1.5rem;
}
