.tootajad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(4px, 10px, 14px);
}

.tootaja {
    background-color: rgb(220, 216, 200);;
    color: black;
    padding: 8px;
    overflow: hidden; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
}

.tootaja h3 {
  margin: 0 0 8px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tootaja p {
    font-size: 0.9em;
    margin: 0 0 12px 0;
    margin-top: auto;
}