#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

table {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 4px 24px 4px; 
}

td {
    padding: 2px 24px;
}

.pilt {
  width: 100px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(95%);
}

button:disabled {
  cursor: default;
  border: none;
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.summa-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.linn-aktiivne {
  text-decoration: underline;
  color: rgb(227 6 140);
  /* border-color: rgb(227 6 140); */
}

.linn-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.keel-aktiivne {
  font-weight: bold;
}

.kuldne {
  color: goldenrod;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.icon:active {
  transform: scale(95%);
}

html.dark-mode,
body.dark-mode {
  background-color: black;
  color: white;
  min-height: 100vh;
  margin: 0;
}

html.light-mode,
body.light-mode {
  background-color: white;
  color: black;
  min-height: 100vh;
  margin: 0;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.dots div {
  width: 8px;
  height: 8px;
  background-color: #dbca34;
  border-radius: 50%;
  animation: dotPulse 1s infinite ease-in-out;
}

.dots div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotPulse {
  0%, 80%, 100% { transform: scale(0.6); opacity: 0.7; }
  40% { transform: scale(1); opacity: 1; }
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}