#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt {
  width: 100px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(95%);
}

button:disabled {
  cursor: default;
  border: none;
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.summa-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.linn-aktiivne {
  text-decoration: underline;
  color: rgb(227 6 140);
  /* border-color: rgb(227 6 140); */
}

.linn-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.keel-aktiivne {
  font-weight: bold;
}
}