#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

table {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 4px 24px 4px; 
}

td {
    padding: 2px 24px;
}

.pilt {
  width: 100px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(95%);
}

button:disabled {
  cursor: default;
  border: none;
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.summa-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.linn-aktiivne {
  text-decoration: underline;
  color: rgb(227 6 140);
  /* border-color: rgb(227 6 140); */
}

.linn-aktiivne:hover {
  border-color: rgb(227 6 140);
}

.keel-aktiivne {
  font-weight: bold;
}

.kuldne {
  color: goldenrod;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.icon:active {
  transform: scale(95%);
}

.dark-mode {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.light-mode {
  background-color: white;
  color: black;
  min-height: 100vh;
}